# Diamonds -

In [4]:
import pandas as pd
import numpy as np
import sklearn

In [5]:
diamonds = pd.read_csv('input/diamonds_train.csv')

In [6]:
diamonds

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.78,Premium,F,VS1,61.5,58.0,5.93,5.98,3.66,3446
1,1,0.31,Ideal,D,SI1,60.8,56.0,4.37,4.32,2.64,732
2,2,0.30,Ideal,F,SI1,62.3,54.0,4.30,4.34,2.69,475
3,3,1.04,Ideal,E,VVS2,62.0,58.0,6.54,6.46,4.03,9552
4,4,0.65,Ideal,J,SI1,61.4,55.0,5.58,5.62,3.44,1276
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,0.50,Ideal,E,VS1,61.9,56.0,5.09,5.12,3.16,1716
40341,40341,0.33,Ideal,D,VS2,61.8,56.0,4.40,4.44,2.73,781
40342,40342,0.40,Premium,G,VVS1,61.5,58.0,4.69,4.74,2.90,1123
40343,40343,1.06,Ideal,I,VS1,61.2,57.0,6.59,6.56,4.03,5651
40344,40344,1.01,Very Good,H,SI2,63.4,55.0,6.35,6.29,4.01,3959

In [19]:
y = diamonds.price
X = diamonds.iloc[:,:-1]

In [20]:
X

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.78    Premium     F     VS1   61.5   58.0  5.93  5.98  3.66
1          1   0.31      Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64
2          2   0.30      Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69
3          3   1.04      Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03
4          4   0.65      Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
40340  40340   0.50      Ideal     E     VS1   61.9   56.0  5.09  5.12  3.16
40341  40341   0.33      Ideal     D     VS2   61.8   56.0  4.40  4.44  2.73
40342  40342   0.40    Premium     G    VVS1   61.5   58.0  4.69  4.74  2.90
40343  40343   1.06      Ideal     I     VS1   61.2   57.0  6.59  6.56  4.03
40344  40344   1.01  Very Good     H     SI2   63.4   55.0  6.35  6.29  4.01

[40345 rows x 10 columns]

In [21]:
y

0        3446
1         732
2         475
3        9552
4        1276
         ...
40340    1716
40341     781
40342    1123
40343    5651
40344    3959
Name: price, Length: 40345, dtype: int64

In [25]:
X.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [26]:
X.describe()

,id,carat,depth,table,x,y,z
count,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000
mean,20172.000000,0.797699,61.749721,57.449421,5.730824,5.734808,3.537958
std,11646.742642,0.474309,1.427728,2.234087,1.121767,1.151536,0.695039
min,0.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,10086.000000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,20172.000000,0.700000,61.800000,57.000000,5.690000,5.710000,3.520000
75%,30258.000000,1.040000,62.500000,59.000000,6.540000,6.540000,4.030000
max,40344.000000,5.010000,79.000000,95.000000,10.740000,58.900000,8.060000